.google-map-container {
	width: 960px;
}
#content .google-map span {
	margin: 0 0 10px 0;
	padding: 0;
}
.google-map, .location-container {
	float: right;
	display: block;
}
.google-map img, .google-map .wrapper {
	float: left;
}
.google-map a, .google-map .title, .google-map .address, .google-map .phone {
	font-size: 12px;
	color: #000;
	display: block;
}
.google-map .wrapper {
	width: 100px;
	margin-right: 10px;
}
.location-container {
	width: 300px;
	padding-right: 30px;
}
ul.locations li {
	cursor: pointer;
	cursor: hand;
}